.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60vh;
  text-align: center;
}

.buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.final {
  font-size: 80px;
}

.status {
  margin: 32px auto;
}

.name, .score, .error {
  margin-left: 16px;
}